body{
    margin: 0px;
    padding: 0px;
}

<<<<<<< HEAD
/* Place text in the middle of the image */
.hero-text {
    text-align: center;

}


=======
/*CSS för login-sida och signup-sida*/
>>>>>>> f45a0d6705e8f23d8e396f7df4e50ff3e2b5d32a
input {
    width: 300px;
    height: 30px;
    margin: 10px;
}

.loginButton, .signupButton {
    width: 200px;
    height: 35px;
    margin: auto;
    border: none;
    background-color: rgb(187, 87, 101);
    color: white;
    font-family: times;
    text-transform: uppercase;
    font-size: 12px;
}

form {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 238, 243, 0.7);
    width: 350px;
    height: 250px;
}

wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

