body{
    padding:0;
    margin:0; 
}

#header{
    width:100vw;
    height:15vh;
    background:  url("img/heart_bg.png") no-repeat;
    position:fixed;
    margin-top:0px;
    display: flex;
    justify-content: space-between;
}
#footer{
    width:100vw;
    height:15vh;
    background-color:rgb(185, 63, 63);
    margin-bottom:0px;
}
#content{
    min-height:85vh;
}