body{
    width:100%;
    height:auto;
    margin:0px;
    padding: 0px;
    background-color: rgb(218, 218, 218);

}
.header{
    width:100%;
    height:120px;
    background-color:white;
    color: rgb(29, 28, 28);
    
}

.link{
    text-decoration: none;
    color:rgb(29, 28, 28);
    margin: 0px 10px;
    /*border-right: 3px solid red;*/
    border-left: 5px solid rgb(207, 41, 55);
    padding: 1px 6px;
    font-size: 18px;
}

.cart_menu{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    width: 90%;
    height: 65px;
    margin:auto;

}

.valentine{
    font-size: 25px;
    padding: 10px;
    margin-left: 50px;
}

.row{
    display: flex;
    justify-content: space-between;
}

.check_item{
    width: 70px;
}

.fav_item{
    margin-bottom:10px;
}

.save{
    float: right;
    width: 80px;
    height: 20px;
    border:none;
    background-color: rgb(207, 41, 55);
    color: white;
    cursor: pointer;
}

.checkbox{
    text-decoration: none;
}

.content{
    background-image: url('bilder/ros.jpeg');
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 80px;
    color: rgb(255, 255, 255);
    width: 65%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.486);
    padding:20px;
    padding-top: 60px;

    
}
.footer{
   background-color:rgb(145, 38, 47);  
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 50px;
   color: white;
   font-size: 20px;
   display: flex;
   flex-direction: row;

}
.footer a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
button{
    margin-bottom: 55px;
}
.kontaktImg{
    width: 70%;
    height: 500px;
}
.kontakt{
    margin-left: 20px;
    margin-bottom: 100px;
}
