body{
    padding:0;
    margin:0; 
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;   
}
h1{
    margin: 0px;
    font-weight: 600;   
}


#header{
    z-index: 1;
    width:100vw;
    height:50px;
    background:  url("../img/hearts.png") no-repeat;
    background-size: cover;
    position:fixed;
    margin-top:0px;
    display: flex;
    justify-content: center;
    font-weight: 600;   
}
#header h1{
    margin: 8px;
}
#logo{
    background-color: rgba(255, 255, 255, 0.7);
}
#menuUL{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.7);

}
#menuUL>li {
    float: left;
}
#menuUL>li>a:hover, .dropdownList:hover .dropbtn {
    background-color: #fe0000;
}
#menuUL>li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none; 
}
#menuUL>li.dropdownList {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background:  url("../img/hearts.png") no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.layer {
    background-color: rgba(255, 255, 255, 0.7);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {background-color: #fe0000;}

.dropdownList:hover .dropdown-content {
    display: block;
}
#footer{
    font-family: 'Josefin Sans', sans-serif;
    width:100vw;
    height:170px;
    background-color:#f11754;
    margin-bottom:0px;
    display: flex;
    justify-content: flex-end;
}
#favoriter{
    width: 200px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}
#favoriter h2{
    font-weight: 600;   
    margin: 0px;
    margin-bottom: -25px;
}
#favoriter p{
    margin-left: 1px;
    line-height: 0px;
}
#content{
    margin: auto;
    min-height:80vh;
    padding-top: 50px;
    width: 980px;
}

#singelS{
    text-align: center;
    margin-top:10vh;
}
.login{
    background-color:#f11754;
    height:40px;
    width:80px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border: none;
}
.login:hover{
    background-color:#ae0086;
    color:blue;
}
#bg-pic-ssl{
    background-color:#fe0000;
}

.card-img-top{
    max-height:300px;
    min-height: 300px;
    max-width:320px;
}
.container{
    z-index: 2;
    margin-top:30px;
}
.imgGifts{
    height: 150px;
    width: 150px;
}

/*Restaurang sida*/

@mixin fadeText($text-color, $direction : top, $offset : 2em, $transition: 0.5s ease-out) {  
// text-color : dark
$color: #fff;

// direction : top
$deg: 180deg;
$pos: bottom;

@if($text-color == 'light') {
$color: #000;
mix-blend-mode: screen;
} @else {
mix-blend-mode: multiply;
}

@if($direction == 'left') {
$deg: 90deg;
$pos: right;
} @elseif ($direction == 'right') {
$deg: -90deg;
$pos: left;
} @elseif ($direction == 'bottom') {
$deg: 0deg;
$pos: top;
}

position: relative;

&::after {
background: linear-gradient($deg, transparent, $color $offset) no-repeat $pos center / 100% 100%;

content: '';
position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
pointer-events: none;
transition: $transition;
}

&:hover::after {
@if($direction == 'left' or $direction == 'right') {
  background-size: 0% 100%;  
} @else {
  background-size: 100% 0%;
}
}

}

// Your text color should have good contrast (either very light or very dark, with the appropriate option passed above) or the entire block will start turning transparent

p {
color: #fff;
@supports(mix-blend-mode: screen){
 @include fadeText(light, top, 3rem);
} 
}

/* Pen styling */
// This was on <body> but then it mysteriously broke on Chrome
.wrapper {
background: #222 url(https://source.unsplash.com/yNGQ830uFB4/1600x900) 50% 50% / cover;
display: flex;
align-items: center;
font: 18px/1.5 'Roboto', sans-serif;
justify-content: center;
min-height: 100vh;
position: relative;

&::before {
background: #222;
content: '';
position: absolute;
top: 0; right: 0; bottom: 0; left: 0;
opacity: 0.5;
}
}

h2 {
font-size: 32px;
font-weight: 300;
}

.content {
color: #fff;
max-width: 600px;
text-align: center;
/* position: relative; */
}
